{{! js }}


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/css/otp.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: rgb(252, 152, 152);">
      <form action="/otp" method="post">
    <div
      class="container height-100 d-flex justify-content-center align-items-center"
    >
      <div class="position-relative">
        <div class="card p-2 text-center">
          <h6>Please enter the one time password
            <br />
            to verify your account</h6>
          <div>
            <span>A code has been sent to</span>
            <small>your gmail account</small>
          </div>
          <div
            id="otp"
            class="inputs d-flex flex-row justify-content-center mt-2"
          >
            <input
              class="m-2 text-center form-control rounded"
              type="otp"
              id="first"
              maxlength="4"
              name="otpsignup"


            />
            {{!-- <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="second"
              maxlength="1"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="third"
              maxlength="1"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="fourth"
              maxlength="1"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="fifth"
              maxlength="1"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="sixth"
              maxlength="1"
            /> --}}
          </div>
          <div class="mt-4">
            <button class="btn btn-danger px-4 validate" type="submit">Validate</button>
          </div>
        </div>
        {{!-- <div class="card-2">
          <div class="content d-flex justify-content-center align-items-center">
            <span>Didn't get the code</span>
            <a href="#" class="text-decoration-none ms-3">Resend(1/3)</a>
          </div>
        </div> --}}
      </div>
    </div>
      </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script>document.addEventListener("DOMContentLoaded", function(event)
      {function OTPInput() { const inputs = document.querySelectorAll('#otp >
      *[id]'); for (let i = 0; i < inputs.length; i++) {
      inputs[i].addEventListener('keydown', function(event) { if
      (event.key==="Backspace" ) { inputs[i].value='' ; if (i !==0) inputs[i -
      1].focus(); } else { if (i===inputs.length - 1 && inputs[i].value !=='' )
      { return true; } else if (event.keyCode> 47 && event.keyCode < 58) {
      inputs[i].value=event.key; if (i !==inputs.length - 1) inputs[i +
      1].focus(); event.preventDefault(); } else if (event.keyCode> 64 &&
      event.keyCode < 91) { inputs[i].value=String.fromCharCode(event.keyCode);
      if (i !==inputs.length - 1) inputs[i + 1].focus(); event.preventDefault();
      } } }); } } OTPInput(); });
    </script>
  </body>
</html>